# local folder used to generate the file "report.pdf"
report/*

# objects file:
*.o

# executable files:
*.x



# slurm otuput: 
slurm-*


# File used to obtains plot
.Rproj.user
*.Rproj
*.R
.vscode/
*.RData
*.Rhistory

# Folder with all files for the report
report/


# Data for a plot that is used only in the report
Assignment2/results/NONUMACTL.csv